/*Domino*/
#tabulkaKociek{
border-collapse:collapse;
border: 1px solid black;
max-width:1024px;
margin: 10px auto 10px auto;

}

#tabulkaKociek td{
width:40px;
border: 1px solid black;
text-align:center;
}

#tabulkaKociek tr{
height:40px;
}